@charset "UTF-8";
/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/**
 * Porridge
 * 
 * @copyright   Copyright (c) 2013 Warrick Bayman.
 * @author		Warrick Bayman <me@warrickbayman.co.za>
 * @license     MIT License http://opensource.org/licenses/MIT
 * 
 */
/**
 * Porridge
 *
 * @copyright   Copyright (c) 2013 Warrick Bayman.
 * @author		Warrick Bayman <me@warrickbayman.co.za>
 * @license     MIT License http://opensource.org/licenses/MIT
 *
 */
/**
 * Porridge
 * 
 * @copyright   Copyright (c) 2013 Warrick Bayman.
 * @author		Warrick Bayman <me@warrickbayman.co.za>
 * @license     MIT License http://opensource.org/licenses/MIT
 * 
 */
/**
 * Porridge
 * 
 * @copyright   Copyright (c) 2013 Warrick Bayman.
 * @author		Warrick Bayman <me@warrickbayman.co.za>
 * @license     MIT License http://opensource.org/licenses/MIT
 * 
 */
/**
 * Porridge
 * 
 * @copyright   Copyright (c) 2013 Warrick Bayman.
 * @author		Warrick Bayman <me@warrickbayman.co.za>
 * @license     MIT License http://opensource.org/licenses/MIT
 * 
 */
/**
 * Porridge
 * 
 * @copyright   Copyright (c) 2013 Warrick Bayman.
 * @author		Warrick Bayman <me@warrickbayman.co.za>
 * @license     MIT License http://opensource.org/licenses/MIT
 * 
 */
html body * {
  box-sizing: border-box; }

/**
 * Porridge
 * 
 * @copyright   Copyright (c) 2013 Warrick Bayman.
 * @author		Warrick Bayman <me@warrickbayman.co.za>
 * @license     MIT License http://opensource.org/licenses/MIT
 * 
 */
/**
 * Porridge
 *
 * @copyright   Copyright (c) 2013 Warrick Bayman.
 * @author		Warrick Bayman <me@warrickbayman.co.za>
 * @license     MIT License http://opensource.org/licenses/MIT
 *
 */
.container:after {
  content: "";
  display: table;
  clear: both; }

.row:before, .row-reverse:before, .row:after, .row-reverse:after {
  content: "";
  display: table; }

.row:after, .row-reverse:after {
  clear: both; }

.row, .row-reverse {
  zoom: 1; }

.gr-0, .gr-1, .gr-2, .gr-3, .gr-4, .gr-5, .gr-6, .gr-7, .gr-8, .gr-9, .gr-10, .gr-11, .gr-12 {
  display: inline-block;
  min-height: 1px;
  float: left;
  box-sizing: border-box;
  vertical-align: top;
  padding-right: 10px;
  padding-left: 10px; }

.gr-adapt {
  display: table-cell;
  width: 1px;
  white-space: nowrap !important;
  box-sizing: border-box;
  font-size: 1rem;
  padding-right: 10px;
  padding-left: 10px; }

.gr-grow {
  display: table-cell;
  width: 99999px;
  white-space: nowrap;
  box-sizing: border-box;
  font-size: 1rem;
  padding-right: 10px;
  padding-left: 10px; }

.push-0, .push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12 {
  position: relative; }

.pull-0, .pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12 {
  position: relative; }

.nowrap {
  white-space: nowrap; }
  .nowrap > * {
    white-space: normal; }

.wrap {
  white-space: normal; }

.gr-centered {
  display: block !important;
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
  clear: both !important; }

@media screen and (max-width: 767px) {
  .container\@mobile:after {
    content: "";
    display: table;
    clear: both; } }

@media screen and (max-width: 767px) {
  .row\@mobile:before, .row-reverse\@mobile:before, .row\@mobile:after, .row-reverse\@mobile:after {
    content: "";
    display: table; }
  .row\@mobile:after, .row-reverse\@mobile:after {
    clear: both; }
  .row\@mobile, .row-reverse\@mobile {
    zoom: 1; } }

@media screen and (max-width: 767px) {
  .gr-0\@mobile, .gr-1\@mobile, .gr-2\@mobile, .gr-3\@mobile, .gr-4\@mobile, .gr-5\@mobile, .gr-6\@mobile, .gr-7\@mobile, .gr-8\@mobile, .gr-9\@mobile, .gr-10\@mobile, .gr-11\@mobile, .gr-12\@mobile {
    display: inline-block;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
    vertical-align: top;
    padding-right: 10px;
    padding-left: 10px; } }

@media screen and (max-width: 767px) {
  .gr-adapt\@mobile {
    display: table-cell;
    width: 1px;
    white-space: nowrap !important;
    box-sizing: border-box;
    font-size: 1rem;
    padding-right: 10px;
    padding-left: 10px; } }

@media screen and (max-width: 767px) {
  .gr-grow\@mobile {
    display: table-cell;
    width: 99999px;
    white-space: nowrap;
    box-sizing: border-box;
    font-size: 1rem;
    padding-right: 10px;
    padding-left: 10px; } }

@media screen and (max-width: 767px) {
  .push-0\@mobile, .push-1\@mobile, .push-2\@mobile, .push-3\@mobile, .push-4\@mobile, .push-5\@mobile, .push-6\@mobile, .push-7\@mobile, .push-8\@mobile, .push-9\@mobile, .push-10\@mobile, .push-11\@mobile, .push-12\@mobile {
    position: relative; } }

@media screen and (max-width: 767px) {
  .pull-0\@mobile, .pull-1\@mobile, .pull-2\@mobile, .pull-3\@mobile, .pull-4\@mobile, .pull-5\@mobile, .pull-6\@mobile, .pull-7\@mobile, .pull-8\@mobile, .pull-9\@mobile, .pull-10\@mobile, .pull-11\@mobile, .pull-12\@mobile {
    position: relative; } }

@media screen and (max-width: 767px) {
  .nowrap\@mobile {
    white-space: nowrap; }
    .nowrap\@mobile > * {
      white-space: normal; } }

@media screen and (max-width: 767px) {
  .wrap\@mobile {
    white-space: normal; } }

@media screen and (max-width: 767px) {
  .gr-centered\@mobile {
    display: block !important;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    clear: both !important; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container\@tablet:after {
    content: "";
    display: table;
    clear: both; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .row\@tablet:before, .row-reverse\@tablet:before, .row\@tablet:after, .row-reverse\@tablet:after {
    content: "";
    display: table; }
  .row\@tablet:after, .row-reverse\@tablet:after {
    clear: both; }
  .row\@tablet, .row-reverse\@tablet {
    zoom: 1; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .gr-0\@tablet, .gr-1\@tablet, .gr-2\@tablet, .gr-3\@tablet, .gr-4\@tablet, .gr-5\@tablet, .gr-6\@tablet, .gr-7\@tablet, .gr-8\@tablet, .gr-9\@tablet, .gr-10\@tablet, .gr-11\@tablet, .gr-12\@tablet {
    display: inline-block;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
    vertical-align: top;
    padding-right: 10px;
    padding-left: 10px; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .gr-adapt\@tablet {
    display: table-cell;
    width: 1px;
    white-space: nowrap !important;
    box-sizing: border-box;
    font-size: 1rem;
    padding-right: 10px;
    padding-left: 10px; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .gr-grow\@tablet {
    display: table-cell;
    width: 99999px;
    white-space: nowrap;
    box-sizing: border-box;
    font-size: 1rem;
    padding-right: 10px;
    padding-left: 10px; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .push-0\@tablet, .push-1\@tablet, .push-2\@tablet, .push-3\@tablet, .push-4\@tablet, .push-5\@tablet, .push-6\@tablet, .push-7\@tablet, .push-8\@tablet, .push-9\@tablet, .push-10\@tablet, .push-11\@tablet, .push-12\@tablet {
    position: relative; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .pull-0\@tablet, .pull-1\@tablet, .pull-2\@tablet, .pull-3\@tablet, .pull-4\@tablet, .pull-5\@tablet, .pull-6\@tablet, .pull-7\@tablet, .pull-8\@tablet, .pull-9\@tablet, .pull-10\@tablet, .pull-11\@tablet, .pull-12\@tablet {
    position: relative; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .nowrap\@tablet {
    white-space: nowrap; }
    .nowrap\@tablet > * {
      white-space: normal; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .wrap\@tablet {
    white-space: normal; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .gr-centered\@tablet {
    display: block !important;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    clear: both !important; } }

@media screen and (min-width: 1025px) {
  .container\@desktop:after {
    content: "";
    display: table;
    clear: both; } }

@media screen and (min-width: 1025px) {
  .row\@desktop:before, .row-reverse\@desktop:before, .row\@desktop:after, .row-reverse\@desktop:after {
    content: "";
    display: table; }
  .row\@desktop:after, .row-reverse\@desktop:after {
    clear: both; }
  .row\@desktop, .row-reverse\@desktop {
    zoom: 1; } }

@media screen and (min-width: 1025px) {
  .gr-0\@desktop, .gr-1\@desktop, .gr-2\@desktop, .gr-3\@desktop, .gr-4\@desktop, .gr-5\@desktop, .gr-6\@desktop, .gr-7\@desktop, .gr-8\@desktop, .gr-9\@desktop, .gr-10\@desktop, .gr-11\@desktop, .gr-12\@desktop {
    display: inline-block;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
    vertical-align: top;
    padding-right: 10px;
    padding-left: 10px; } }

@media screen and (min-width: 1025px) {
  .gr-adapt\@desktop {
    display: table-cell;
    width: 1px;
    white-space: nowrap !important;
    box-sizing: border-box;
    font-size: 1rem;
    padding-right: 10px;
    padding-left: 10px; } }

@media screen and (min-width: 1025px) {
  .gr-grow\@desktop {
    display: table-cell;
    width: 99999px;
    white-space: nowrap;
    box-sizing: border-box;
    font-size: 1rem;
    padding-right: 10px;
    padding-left: 10px; } }

@media screen and (min-width: 1025px) {
  .push-0\@desktop, .push-1\@desktop, .push-2\@desktop, .push-3\@desktop, .push-4\@desktop, .push-5\@desktop, .push-6\@desktop, .push-7\@desktop, .push-8\@desktop, .push-9\@desktop, .push-10\@desktop, .push-11\@desktop, .push-12\@desktop {
    position: relative; } }

@media screen and (min-width: 1025px) {
  .pull-0\@desktop, .pull-1\@desktop, .pull-2\@desktop, .pull-3\@desktop, .pull-4\@desktop, .pull-5\@desktop, .pull-6\@desktop, .pull-7\@desktop, .pull-8\@desktop, .pull-9\@desktop, .pull-10\@desktop, .pull-11\@desktop, .pull-12\@desktop {
    position: relative; } }

@media screen and (min-width: 1025px) {
  .nowrap\@desktop {
    white-space: nowrap; }
    .nowrap\@desktop > * {
      white-space: normal; } }

@media screen and (min-width: 1025px) {
  .wrap\@desktop {
    white-space: normal; } }

@media screen and (min-width: 1025px) {
  .gr-centered\@desktop {
    display: block !important;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    clear: both !important; } }

@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: device-width; } }

#gridle-settings {
  content: '{ "version" : "2.0.44", "states" : { "default":{ "name" : "default", "min-width" : null, "max-width" : null, "query" : null, "classes" : true, "context" : "12", "column-width" : null, "gutter-width" : "20px", "gutter-height" : "0", "gutter-top" : "0", "gutter-right" : "10px", "gutter-bottom" : "0", "gutter-left" : "10px", "direction" : "ltr", "dir-attribute" : false, "name-multiplicator" : "1", "states-classes" : false, "classes-prefix" : null, "gutter" : "20px", "_" : true }, "mobile":{ "name" : "mobile", "min-width" : null, "max-width" : "767px", "query" : "screen and (max-width: 767px)", "classes" : true, "context" : "12", "column-width" : null, "gutter-width" : "20px", "gutter-height" : "0", "gutter-top" : "0", "gutter-right" : "10px", "gutter-bottom" : "0", "gutter-left" : "10px", "direction" : "ltr", "dir-attribute" : false, "name-multiplicator" : "1", "states-classes" : false, "classes-prefix" : null, "gutter" : "20px", "_" : true }, "tablet":{ "name" : "tablet", "min-width" : "768px", "max-width" : "1024px", "query" : "screen and (min-width: 768px) and (max-width: 1024px)", "classes" : true, "context" : "12", "column-width" : null, "gutter-width" : "20px", "gutter-height" : "0", "gutter-top" : "0", "gutter-right" : "10px", "gutter-bottom" : "0", "gutter-left" : "10px", "direction" : "ltr", "dir-attribute" : false, "name-multiplicator" : "1", "states-classes" : false, "classes-prefix" : null, "gutter" : "20px", "_" : true }, "desktop":{ "name" : "desktop", "min-width" : "1025px", "max-width" : null, "query" : "screen and (min-width: 1025px)", "classes" : true, "context" : "12", "column-width" : null, "gutter-width" : "20px", "gutter-height" : "0", "gutter-top" : "0", "gutter-right" : "10px", "gutter-bottom" : "0", "gutter-left" : "10px", "direction" : "ltr", "dir-attribute" : false, "name-multiplicator" : "1", "states-classes" : false, "classes-prefix" : null, "gutter" : "20px", "_" : true }} }'; }

.gr-0 {
  width: 0%; }

.push-0 {
  left: 0%; }

.pull-0 {
  right: 0%; }

.prefix-0 {
  margin-left: 0%; }

.suffix-0 {
  margin-right: 0%; }

.gr-1 {
  width: 8.33333%; }

.push-1 {
  left: 8.33333%; }

.pull-1 {
  right: 8.33333%; }

.prefix-1 {
  margin-left: 8.33333%; }

.suffix-1 {
  margin-right: 8.33333%; }

.gr-2 {
  width: 16.66667%; }

.push-2 {
  left: 16.66667%; }

.pull-2 {
  right: 16.66667%; }

.prefix-2 {
  margin-left: 16.66667%; }

.suffix-2 {
  margin-right: 16.66667%; }

.gr-3 {
  width: 25%; }

.push-3 {
  left: 25%; }

.pull-3 {
  right: 25%; }

.prefix-3 {
  margin-left: 25%; }

.suffix-3 {
  margin-right: 25%; }

.gr-4 {
  width: 33.33333%; }

.push-4 {
  left: 33.33333%; }

.pull-4 {
  right: 33.33333%; }

.prefix-4 {
  margin-left: 33.33333%; }

.suffix-4 {
  margin-right: 33.33333%; }

.gr-5 {
  width: 41.66667%; }

.push-5 {
  left: 41.66667%; }

.pull-5 {
  right: 41.66667%; }

.prefix-5 {
  margin-left: 41.66667%; }

.suffix-5 {
  margin-right: 41.66667%; }

.gr-6 {
  width: 50%; }

.push-6 {
  left: 50%; }

.pull-6 {
  right: 50%; }

.prefix-6 {
  margin-left: 50%; }

.suffix-6 {
  margin-right: 50%; }

.gr-7 {
  width: 58.33333%; }

.push-7 {
  left: 58.33333%; }

.pull-7 {
  right: 58.33333%; }

.prefix-7 {
  margin-left: 58.33333%; }

.suffix-7 {
  margin-right: 58.33333%; }

.gr-8 {
  width: 66.66667%; }

.push-8 {
  left: 66.66667%; }

.pull-8 {
  right: 66.66667%; }

.prefix-8 {
  margin-left: 66.66667%; }

.suffix-8 {
  margin-right: 66.66667%; }

.gr-9 {
  width: 75%; }

.push-9 {
  left: 75%; }

.pull-9 {
  right: 75%; }

.prefix-9 {
  margin-left: 75%; }

.suffix-9 {
  margin-right: 75%; }

.gr-10 {
  width: 83.33333%; }

.push-10 {
  left: 83.33333%; }

.pull-10 {
  right: 83.33333%; }

.prefix-10 {
  margin-left: 83.33333%; }

.suffix-10 {
  margin-right: 83.33333%; }

.gr-11 {
  width: 91.66667%; }

.push-11 {
  left: 91.66667%; }

.pull-11 {
  right: 91.66667%; }

.prefix-11 {
  margin-left: 91.66667%; }

.suffix-11 {
  margin-right: 91.66667%; }

.gr-12 {
  width: 100%; }

.push-12 {
  left: 100%; }

.pull-12 {
  right: 100%; }

.prefix-12 {
  margin-left: 100%; }

.suffix-12 {
  margin-right: 100%; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clear {
  clear: both; }

.clear-left {
  clear: left; }

.clear-right {
  clear: right; }

.no-gutter {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0; }

.no-gutter-left {
  padding-left: 0; }

.no-gutter-right {
  padding-right: 0; }

.no-gutter-top {
  padding-top: 0; }

.no-gutter-bottom {
  padding-bottom: 0; }

.gutter {
  padding-right: 10px;
  padding-left: 10px; }

.gutter-left {
  padding-left: 10px; }

.gutter-right {
  padding-right: 10px; }

.auto-height {
  height: inherit; }

.row {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: -10px;
  margin-right: -10px; }
  [class*="no-gutter"] > .row {
    margin-left: 0 !important;
    margin-right: 0 !important; }

.row-reverse {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: -10px;
  margin-right: -10px; }
  [class*="no-gutter"] > .row-reverse {
    margin-left: 0 !important;
    margin-right: 0 !important; }

.row-full {
  width: 100vw;
  margin-left: 50% !important;
  margin-right: 0 !important;
  -webkit-transform: translateX(-50%);
  -moz-transition: translateX(-50%);
  transform: translateX(-50%); }

.col {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: -10px;
  margin-right: -10px; }

.col-reverse {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: -10px;
  margin-right: -10px; }

.gr-table {
  display: table-cell;
  float: none;
  vertical-align: top; }

.row-align-left {
  font-size: 0;
  clear: both;
  text-align: left; }
  .row-align-left > * {
    float: none !important;
    vertical-align: bottom;
    font-size: 1rem; }

@-moz-document url-prefix() {
  .row-align-left > * {
    margin-right: -0.5px; } }

.row-align-center {
  font-size: 0;
  clear: both;
  text-align: center; }
  .row-align-center > * {
    float: none !important;
    vertical-align: bottom;
    font-size: 1rem; }

@-moz-document url-prefix() {
  .row-align-center > * {
    margin-right: -0.5px; } }
  .row-align-center > * {
    text-align: left; }

.row-align-right {
  font-size: 0;
  clear: both;
  text-align: right; }
  .row-align-right > * {
    float: none !important;
    vertical-align: bottom;
    font-size: 1rem; }

@-moz-document url-prefix() {
  .row-align-right > * {
    margin-right: -0.5px; } }
  .row-align-right > * {
    text-align: left; }

.row-align-middle {
  font-size: 0;
  clear: both;
  vertical-align: middle; }
  .row-align-middle > * {
    float: none !important;
    vertical-align: middle;
    font-size: 1rem; }

@-moz-document url-prefix() {
  .row-align-middle > * {
    margin-right: -0.5px; } }

.row-align-top {
  font-size: 0;
  clear: both;
  vertical-align: top; }
  .row-align-top > * {
    float: none !important;
    vertical-align: top;
    font-size: 1rem; }

@-moz-document url-prefix() {
  .row-align-top > * {
    margin-right: -0.5px; } }

.row-align-bottom {
  font-size: 0;
  clear: both;
  vertical-align: bottom; }
  .row-align-bottom > * {
    float: none !important;
    vertical-align: bottom;
    font-size: 1rem; }

@-moz-document url-prefix() {
  .row-align-bottom > * {
    margin-right: -0.5px; } }

.hide {
  display: none; }

.not-visible {
  visibility: hidden; }

.show {
  display: block; }

.show-inline {
  display: inline-block; }

.visible {
  visibility: visible; }

.row-debug {
  position: relative;
  z-index: 99999;
  overflow: hidden; }
  .row-debug:before {
    pointer-events: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99999px;
    background: linear-gradient(to right, transparent 50%, rgba(0, 0, 0, 0.02) 50%);
    background-size: 16.66667% 100%;
    z-index: 99999; }

body {
  direction: ltr; }

@media screen and (max-width: 767px) {
  .gr-0\@mobile {
    width: 0%; }
  .push-0\@mobile {
    left: 0%; }
  .pull-0\@mobile {
    right: 0%; }
  .prefix-0\@mobile {
    margin-left: 0%; }
  .suffix-0\@mobile {
    margin-right: 0%; }
  .gr-1\@mobile {
    width: 8.33333%; }
  .push-1\@mobile {
    left: 8.33333%; }
  .pull-1\@mobile {
    right: 8.33333%; }
  .prefix-1\@mobile {
    margin-left: 8.33333%; }
  .suffix-1\@mobile {
    margin-right: 8.33333%; }
  .gr-2\@mobile {
    width: 16.66667%; }
  .push-2\@mobile {
    left: 16.66667%; }
  .pull-2\@mobile {
    right: 16.66667%; }
  .prefix-2\@mobile {
    margin-left: 16.66667%; }
  .suffix-2\@mobile {
    margin-right: 16.66667%; }
  .gr-3\@mobile {
    width: 25%; }
  .push-3\@mobile {
    left: 25%; }
  .pull-3\@mobile {
    right: 25%; }
  .prefix-3\@mobile {
    margin-left: 25%; }
  .suffix-3\@mobile {
    margin-right: 25%; }
  .gr-4\@mobile {
    width: 33.33333%; }
  .push-4\@mobile {
    left: 33.33333%; }
  .pull-4\@mobile {
    right: 33.33333%; }
  .prefix-4\@mobile {
    margin-left: 33.33333%; }
  .suffix-4\@mobile {
    margin-right: 33.33333%; }
  .gr-5\@mobile {
    width: 41.66667%; }
  .push-5\@mobile {
    left: 41.66667%; }
  .pull-5\@mobile {
    right: 41.66667%; }
  .prefix-5\@mobile {
    margin-left: 41.66667%; }
  .suffix-5\@mobile {
    margin-right: 41.66667%; }
  .gr-6\@mobile {
    width: 50%; }
  .push-6\@mobile {
    left: 50%; }
  .pull-6\@mobile {
    right: 50%; }
  .prefix-6\@mobile {
    margin-left: 50%; }
  .suffix-6\@mobile {
    margin-right: 50%; }
  .gr-7\@mobile {
    width: 58.33333%; }
  .push-7\@mobile {
    left: 58.33333%; }
  .pull-7\@mobile {
    right: 58.33333%; }
  .prefix-7\@mobile {
    margin-left: 58.33333%; }
  .suffix-7\@mobile {
    margin-right: 58.33333%; }
  .gr-8\@mobile {
    width: 66.66667%; }
  .push-8\@mobile {
    left: 66.66667%; }
  .pull-8\@mobile {
    right: 66.66667%; }
  .prefix-8\@mobile {
    margin-left: 66.66667%; }
  .suffix-8\@mobile {
    margin-right: 66.66667%; }
  .gr-9\@mobile {
    width: 75%; }
  .push-9\@mobile {
    left: 75%; }
  .pull-9\@mobile {
    right: 75%; }
  .prefix-9\@mobile {
    margin-left: 75%; }
  .suffix-9\@mobile {
    margin-right: 75%; }
  .gr-10\@mobile {
    width: 83.33333%; }
  .push-10\@mobile {
    left: 83.33333%; }
  .pull-10\@mobile {
    right: 83.33333%; }
  .prefix-10\@mobile {
    margin-left: 83.33333%; }
  .suffix-10\@mobile {
    margin-right: 83.33333%; }
  .gr-11\@mobile {
    width: 91.66667%; }
  .push-11\@mobile {
    left: 91.66667%; }
  .pull-11\@mobile {
    right: 91.66667%; }
  .prefix-11\@mobile {
    margin-left: 91.66667%; }
  .suffix-11\@mobile {
    margin-right: 91.66667%; }
  .gr-12\@mobile {
    width: 100%; }
  .push-12\@mobile {
    left: 100%; }
  .pull-12\@mobile {
    right: 100%; }
  .prefix-12\@mobile {
    margin-left: 100%; }
  .suffix-12\@mobile {
    margin-right: 100%; }
  .float-left\@mobile {
    float: left; }
  .float-right\@mobile {
    float: right; }
  .clear\@mobile {
    clear: both; }
  .clear-left\@mobile {
    clear: left; }
  .clear-right\@mobile {
    clear: right; }
  .no-gutter\@mobile {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0; }
  .no-gutter-left\@mobile {
    padding-left: 0; }
  .no-gutter-right\@mobile {
    padding-right: 0; }
  .no-gutter-top\@mobile {
    padding-top: 0; }
  .no-gutter-bottom\@mobile {
    padding-bottom: 0; }
  .gutter\@mobile {
    padding-right: 10px;
    padding-left: 10px; }
  .gutter-left\@mobile {
    padding-left: 10px; }
  .gutter-right\@mobile {
    padding-right: 10px; }
  .auto-height\@mobile {
    height: inherit; }
  .row\@mobile {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -10px;
    margin-right: -10px; }
    [class*="no-gutter"] > .row\@mobile {
      margin-left: 0 !important;
      margin-right: 0 !important; }
  .row-reverse\@mobile {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -10px;
    margin-right: -10px; }
    [class*="no-gutter"] > .row-reverse\@mobile {
      margin-left: 0 !important;
      margin-right: 0 !important; }
  .row-full\@mobile {
    width: 100vw;
    margin-left: 50% !important;
    margin-right: 0 !important;
    -webkit-transform: translateX(-50%);
    -moz-transition: translateX(-50%);
    transform: translateX(-50%); }
  .col\@mobile {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -10px;
    margin-right: -10px; }
  .col-reverse\@mobile {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -10px;
    margin-right: -10px; }
  .gr-table\@mobile {
    display: table-cell;
    float: none;
    vertical-align: top; }
  .row-align-left\@mobile {
    font-size: 0;
    clear: both;
    text-align: left; }
    .row-align-left\@mobile > * {
      float: none !important;
      vertical-align: bottom;
      font-size: 1rem; }
  @-moz-document url-prefix() {
    .row-align-left\@mobile > * {
      margin-right: -0.5px; } }
  .row-align-center\@mobile {
    font-size: 0;
    clear: both;
    text-align: center; }
    .row-align-center\@mobile > * {
      float: none !important;
      vertical-align: bottom;
      font-size: 1rem; }
  @-moz-document url-prefix() {
    .row-align-center\@mobile > * {
      margin-right: -0.5px; } }
    .row-align-center\@mobile > * {
      text-align: left; }
  .row-align-right\@mobile {
    font-size: 0;
    clear: both;
    text-align: right; }
    .row-align-right\@mobile > * {
      float: none !important;
      vertical-align: bottom;
      font-size: 1rem; }
  @-moz-document url-prefix() {
    .row-align-right\@mobile > * {
      margin-right: -0.5px; } }
    .row-align-right\@mobile > * {
      text-align: left; }
  .row-align-middle\@mobile {
    font-size: 0;
    clear: both;
    vertical-align: middle; }
    .row-align-middle\@mobile > * {
      float: none !important;
      vertical-align: middle;
      font-size: 1rem; }
  @-moz-document url-prefix() {
    .row-align-middle\@mobile > * {
      margin-right: -0.5px; } }
  .row-align-top\@mobile {
    font-size: 0;
    clear: both;
    vertical-align: top; }
    .row-align-top\@mobile > * {
      float: none !important;
      vertical-align: top;
      font-size: 1rem; }
  @-moz-document url-prefix() {
    .row-align-top\@mobile > * {
      margin-right: -0.5px; } }
  .row-align-bottom\@mobile {
    font-size: 0;
    clear: both;
    vertical-align: bottom; }
    .row-align-bottom\@mobile > * {
      float: none !important;
      vertical-align: bottom;
      font-size: 1rem; }
  @-moz-document url-prefix() {
    .row-align-bottom\@mobile > * {
      margin-right: -0.5px; } }
  .hide\@mobile {
    display: none; }
  .not-visible\@mobile {
    visibility: hidden; }
  .show\@mobile {
    display: block; }
  .show-inline\@mobile {
    display: inline-block; }
  .visible\@mobile {
    visibility: visible; }
  .row-debug\@mobile {
    position: relative;
    z-index: 99999;
    overflow: hidden; }
    .row-debug\@mobile:before {
      pointer-events: none;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 99999px;
      background: linear-gradient(to right, transparent 50%, rgba(0, 0, 0, 0.02) 50%);
      background-size: 16.66667% 100%;
      z-index: 99999; }
  body {
    direction: ltr; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .gr-0\@tablet {
    width: 0%; }
  .push-0\@tablet {
    left: 0%; }
  .pull-0\@tablet {
    right: 0%; }
  .prefix-0\@tablet {
    margin-left: 0%; }
  .suffix-0\@tablet {
    margin-right: 0%; }
  .gr-1\@tablet {
    width: 8.33333%; }
  .push-1\@tablet {
    left: 8.33333%; }
  .pull-1\@tablet {
    right: 8.33333%; }
  .prefix-1\@tablet {
    margin-left: 8.33333%; }
  .suffix-1\@tablet {
    margin-right: 8.33333%; }
  .gr-2\@tablet {
    width: 16.66667%; }
  .push-2\@tablet {
    left: 16.66667%; }
  .pull-2\@tablet {
    right: 16.66667%; }
  .prefix-2\@tablet {
    margin-left: 16.66667%; }
  .suffix-2\@tablet {
    margin-right: 16.66667%; }
  .gr-3\@tablet {
    width: 25%; }
  .push-3\@tablet {
    left: 25%; }
  .pull-3\@tablet {
    right: 25%; }
  .prefix-3\@tablet {
    margin-left: 25%; }
  .suffix-3\@tablet {
    margin-right: 25%; }
  .gr-4\@tablet {
    width: 33.33333%; }
  .push-4\@tablet {
    left: 33.33333%; }
  .pull-4\@tablet {
    right: 33.33333%; }
  .prefix-4\@tablet {
    margin-left: 33.33333%; }
  .suffix-4\@tablet {
    margin-right: 33.33333%; }
  .gr-5\@tablet {
    width: 41.66667%; }
  .push-5\@tablet {
    left: 41.66667%; }
  .pull-5\@tablet {
    right: 41.66667%; }
  .prefix-5\@tablet {
    margin-left: 41.66667%; }
  .suffix-5\@tablet {
    margin-right: 41.66667%; }
  .gr-6\@tablet {
    width: 50%; }
  .push-6\@tablet {
    left: 50%; }
  .pull-6\@tablet {
    right: 50%; }
  .prefix-6\@tablet {
    margin-left: 50%; }
  .suffix-6\@tablet {
    margin-right: 50%; }
  .gr-7\@tablet {
    width: 58.33333%; }
  .push-7\@tablet {
    left: 58.33333%; }
  .pull-7\@tablet {
    right: 58.33333%; }
  .prefix-7\@tablet {
    margin-left: 58.33333%; }
  .suffix-7\@tablet {
    margin-right: 58.33333%; }
  .gr-8\@tablet {
    width: 66.66667%; }
  .push-8\@tablet {
    left: 66.66667%; }
  .pull-8\@tablet {
    right: 66.66667%; }
  .prefix-8\@tablet {
    margin-left: 66.66667%; }
  .suffix-8\@tablet {
    margin-right: 66.66667%; }
  .gr-9\@tablet {
    width: 75%; }
  .push-9\@tablet {
    left: 75%; }
  .pull-9\@tablet {
    right: 75%; }
  .prefix-9\@tablet {
    margin-left: 75%; }
  .suffix-9\@tablet {
    margin-right: 75%; }
  .gr-10\@tablet {
    width: 83.33333%; }
  .push-10\@tablet {
    left: 83.33333%; }
  .pull-10\@tablet {
    right: 83.33333%; }
  .prefix-10\@tablet {
    margin-left: 83.33333%; }
  .suffix-10\@tablet {
    margin-right: 83.33333%; }
  .gr-11\@tablet {
    width: 91.66667%; }
  .push-11\@tablet {
    left: 91.66667%; }
  .pull-11\@tablet {
    right: 91.66667%; }
  .prefix-11\@tablet {
    margin-left: 91.66667%; }
  .suffix-11\@tablet {
    margin-right: 91.66667%; }
  .gr-12\@tablet {
    width: 100%; }
  .push-12\@tablet {
    left: 100%; }
  .pull-12\@tablet {
    right: 100%; }
  .prefix-12\@tablet {
    margin-left: 100%; }
  .suffix-12\@tablet {
    margin-right: 100%; }
  .float-left\@tablet {
    float: left; }
  .float-right\@tablet {
    float: right; }
  .clear\@tablet {
    clear: both; }
  .clear-left\@tablet {
    clear: left; }
  .clear-right\@tablet {
    clear: right; }
  .no-gutter\@tablet {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0; }
  .no-gutter-left\@tablet {
    padding-left: 0; }
  .no-gutter-right\@tablet {
    padding-right: 0; }
  .no-gutter-top\@tablet {
    padding-top: 0; }
  .no-gutter-bottom\@tablet {
    padding-bottom: 0; }
  .gutter\@tablet {
    padding-right: 10px;
    padding-left: 10px; }
  .gutter-left\@tablet {
    padding-left: 10px; }
  .gutter-right\@tablet {
    padding-right: 10px; }
  .auto-height\@tablet {
    height: inherit; }
  .row\@tablet {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -10px;
    margin-right: -10px; }
    [class*="no-gutter"] > .row\@tablet {
      margin-left: 0 !important;
      margin-right: 0 !important; }
  .row-reverse\@tablet {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -10px;
    margin-right: -10px; }
    [class*="no-gutter"] > .row-reverse\@tablet {
      margin-left: 0 !important;
      margin-right: 0 !important; }
  .row-full\@tablet {
    width: 100vw;
    margin-left: 50% !important;
    margin-right: 0 !important;
    -webkit-transform: translateX(-50%);
    -moz-transition: translateX(-50%);
    transform: translateX(-50%); }
  .col\@tablet {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -10px;
    margin-right: -10px; }
  .col-reverse\@tablet {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -10px;
    margin-right: -10px; }
  .gr-table\@tablet {
    display: table-cell;
    float: none;
    vertical-align: top; }
  .row-align-left\@tablet {
    font-size: 0;
    clear: both;
    text-align: left; }
    .row-align-left\@tablet > * {
      float: none !important;
      vertical-align: bottom;
      font-size: 1rem; }
  @-moz-document url-prefix() {
    .row-align-left\@tablet > * {
      margin-right: -0.5px; } }
  .row-align-center\@tablet {
    font-size: 0;
    clear: both;
    text-align: center; }
    .row-align-center\@tablet > * {
      float: none !important;
      vertical-align: bottom;
      font-size: 1rem; }
  @-moz-document url-prefix() {
    .row-align-center\@tablet > * {
      margin-right: -0.5px; } }
    .row-align-center\@tablet > * {
      text-align: left; }
  .row-align-right\@tablet {
    font-size: 0;
    clear: both;
    text-align: right; }
    .row-align-right\@tablet > * {
      float: none !important;
      vertical-align: bottom;
      font-size: 1rem; }
  @-moz-document url-prefix() {
    .row-align-right\@tablet > * {
      margin-right: -0.5px; } }
    .row-align-right\@tablet > * {
      text-align: left; }
  .row-align-middle\@tablet {
    font-size: 0;
    clear: both;
    vertical-align: middle; }
    .row-align-middle\@tablet > * {
      float: none !important;
      vertical-align: middle;
      font-size: 1rem; }
  @-moz-document url-prefix() {
    .row-align-middle\@tablet > * {
      margin-right: -0.5px; } }
  .row-align-top\@tablet {
    font-size: 0;
    clear: both;
    vertical-align: top; }
    .row-align-top\@tablet > * {
      float: none !important;
      vertical-align: top;
      font-size: 1rem; }
  @-moz-document url-prefix() {
    .row-align-top\@tablet > * {
      margin-right: -0.5px; } }
  .row-align-bottom\@tablet {
    font-size: 0;
    clear: both;
    vertical-align: bottom; }
    .row-align-bottom\@tablet > * {
      float: none !important;
      vertical-align: bottom;
      font-size: 1rem; }
  @-moz-document url-prefix() {
    .row-align-bottom\@tablet > * {
      margin-right: -0.5px; } }
  .hide\@tablet {
    display: none; }
  .not-visible\@tablet {
    visibility: hidden; }
  .show\@tablet {
    display: block; }
  .show-inline\@tablet {
    display: inline-block; }
  .visible\@tablet {
    visibility: visible; }
  .row-debug\@tablet {
    position: relative;
    z-index: 99999;
    overflow: hidden; }
    .row-debug\@tablet:before {
      pointer-events: none;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 99999px;
      background: linear-gradient(to right, transparent 50%, rgba(0, 0, 0, 0.02) 50%);
      background-size: 16.66667% 100%;
      z-index: 99999; }
  body {
    direction: ltr; } }

@media screen and (min-width: 1025px) {
  .gr-0\@desktop {
    width: 0%; }
  .push-0\@desktop {
    left: 0%; }
  .pull-0\@desktop {
    right: 0%; }
  .prefix-0\@desktop {
    margin-left: 0%; }
  .suffix-0\@desktop {
    margin-right: 0%; }
  .gr-1\@desktop {
    width: 8.33333%; }
  .push-1\@desktop {
    left: 8.33333%; }
  .pull-1\@desktop {
    right: 8.33333%; }
  .prefix-1\@desktop {
    margin-left: 8.33333%; }
  .suffix-1\@desktop {
    margin-right: 8.33333%; }
  .gr-2\@desktop {
    width: 16.66667%; }
  .push-2\@desktop {
    left: 16.66667%; }
  .pull-2\@desktop {
    right: 16.66667%; }
  .prefix-2\@desktop {
    margin-left: 16.66667%; }
  .suffix-2\@desktop {
    margin-right: 16.66667%; }
  .gr-3\@desktop {
    width: 25%; }
  .push-3\@desktop {
    left: 25%; }
  .pull-3\@desktop {
    right: 25%; }
  .prefix-3\@desktop {
    margin-left: 25%; }
  .suffix-3\@desktop {
    margin-right: 25%; }
  .gr-4\@desktop {
    width: 33.33333%; }
  .push-4\@desktop {
    left: 33.33333%; }
  .pull-4\@desktop {
    right: 33.33333%; }
  .prefix-4\@desktop {
    margin-left: 33.33333%; }
  .suffix-4\@desktop {
    margin-right: 33.33333%; }
  .gr-5\@desktop {
    width: 41.66667%; }
  .push-5\@desktop {
    left: 41.66667%; }
  .pull-5\@desktop {
    right: 41.66667%; }
  .prefix-5\@desktop {
    margin-left: 41.66667%; }
  .suffix-5\@desktop {
    margin-right: 41.66667%; }
  .gr-6\@desktop {
    width: 50%; }
  .push-6\@desktop {
    left: 50%; }
  .pull-6\@desktop {
    right: 50%; }
  .prefix-6\@desktop {
    margin-left: 50%; }
  .suffix-6\@desktop {
    margin-right: 50%; }
  .gr-7\@desktop {
    width: 58.33333%; }
  .push-7\@desktop {
    left: 58.33333%; }
  .pull-7\@desktop {
    right: 58.33333%; }
  .prefix-7\@desktop {
    margin-left: 58.33333%; }
  .suffix-7\@desktop {
    margin-right: 58.33333%; }
  .gr-8\@desktop {
    width: 66.66667%; }
  .push-8\@desktop {
    left: 66.66667%; }
  .pull-8\@desktop {
    right: 66.66667%; }
  .prefix-8\@desktop {
    margin-left: 66.66667%; }
  .suffix-8\@desktop {
    margin-right: 66.66667%; }
  .gr-9\@desktop {
    width: 75%; }
  .push-9\@desktop {
    left: 75%; }
  .pull-9\@desktop {
    right: 75%; }
  .prefix-9\@desktop {
    margin-left: 75%; }
  .suffix-9\@desktop {
    margin-right: 75%; }
  .gr-10\@desktop {
    width: 83.33333%; }
  .push-10\@desktop {
    left: 83.33333%; }
  .pull-10\@desktop {
    right: 83.33333%; }
  .prefix-10\@desktop {
    margin-left: 83.33333%; }
  .suffix-10\@desktop {
    margin-right: 83.33333%; }
  .gr-11\@desktop {
    width: 91.66667%; }
  .push-11\@desktop {
    left: 91.66667%; }
  .pull-11\@desktop {
    right: 91.66667%; }
  .prefix-11\@desktop {
    margin-left: 91.66667%; }
  .suffix-11\@desktop {
    margin-right: 91.66667%; }
  .gr-12\@desktop {
    width: 100%; }
  .push-12\@desktop {
    left: 100%; }
  .pull-12\@desktop {
    right: 100%; }
  .prefix-12\@desktop {
    margin-left: 100%; }
  .suffix-12\@desktop {
    margin-right: 100%; }
  .float-left\@desktop {
    float: left; }
  .float-right\@desktop {
    float: right; }
  .clear\@desktop {
    clear: both; }
  .clear-left\@desktop {
    clear: left; }
  .clear-right\@desktop {
    clear: right; }
  .no-gutter\@desktop {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0; }
  .no-gutter-left\@desktop {
    padding-left: 0; }
  .no-gutter-right\@desktop {
    padding-right: 0; }
  .no-gutter-top\@desktop {
    padding-top: 0; }
  .no-gutter-bottom\@desktop {
    padding-bottom: 0; }
  .gutter\@desktop {
    padding-right: 10px;
    padding-left: 10px; }
  .gutter-left\@desktop {
    padding-left: 10px; }
  .gutter-right\@desktop {
    padding-right: 10px; }
  .auto-height\@desktop {
    height: inherit; }
  .row\@desktop {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -10px;
    margin-right: -10px; }
    [class*="no-gutter"] > .row\@desktop {
      margin-left: 0 !important;
      margin-right: 0 !important; }
  .row-reverse\@desktop {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -10px;
    margin-right: -10px; }
    [class*="no-gutter"] > .row-reverse\@desktop {
      margin-left: 0 !important;
      margin-right: 0 !important; }
  .row-full\@desktop {
    width: 100vw;
    margin-left: 50% !important;
    margin-right: 0 !important;
    -webkit-transform: translateX(-50%);
    -moz-transition: translateX(-50%);
    transform: translateX(-50%); }
  .col\@desktop {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -10px;
    margin-right: -10px; }
  .col-reverse\@desktop {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -10px;
    margin-right: -10px; }
  .gr-table\@desktop {
    display: table-cell;
    float: none;
    vertical-align: top; }
  .row-align-left\@desktop {
    font-size: 0;
    clear: both;
    text-align: left; }
    .row-align-left\@desktop > * {
      float: none !important;
      vertical-align: bottom;
      font-size: 1rem; }
  @-moz-document url-prefix() {
    .row-align-left\@desktop > * {
      margin-right: -0.5px; } }
  .row-align-center\@desktop {
    font-size: 0;
    clear: both;
    text-align: center; }
    .row-align-center\@desktop > * {
      float: none !important;
      vertical-align: bottom;
      font-size: 1rem; }
  @-moz-document url-prefix() {
    .row-align-center\@desktop > * {
      margin-right: -0.5px; } }
    .row-align-center\@desktop > * {
      text-align: left; }
  .row-align-right\@desktop {
    font-size: 0;
    clear: both;
    text-align: right; }
    .row-align-right\@desktop > * {
      float: none !important;
      vertical-align: bottom;
      font-size: 1rem; }
  @-moz-document url-prefix() {
    .row-align-right\@desktop > * {
      margin-right: -0.5px; } }
    .row-align-right\@desktop > * {
      text-align: left; }
  .row-align-middle\@desktop {
    font-size: 0;
    clear: both;
    vertical-align: middle; }
    .row-align-middle\@desktop > * {
      float: none !important;
      vertical-align: middle;
      font-size: 1rem; }
  @-moz-document url-prefix() {
    .row-align-middle\@desktop > * {
      margin-right: -0.5px; } }
  .row-align-top\@desktop {
    font-size: 0;
    clear: both;
    vertical-align: top; }
    .row-align-top\@desktop > * {
      float: none !important;
      vertical-align: top;
      font-size: 1rem; }
  @-moz-document url-prefix() {
    .row-align-top\@desktop > * {
      margin-right: -0.5px; } }
  .row-align-bottom\@desktop {
    font-size: 0;
    clear: both;
    vertical-align: bottom; }
    .row-align-bottom\@desktop > * {
      float: none !important;
      vertical-align: bottom;
      font-size: 1rem; }
  @-moz-document url-prefix() {
    .row-align-bottom\@desktop > * {
      margin-right: -0.5px; } }
  .hide\@desktop {
    display: none; }
  .not-visible\@desktop {
    visibility: hidden; }
  .show\@desktop {
    display: block; }
  .show-inline\@desktop {
    display: inline-block; }
  .visible\@desktop {
    visibility: visible; }
  .row-debug\@desktop {
    position: relative;
    z-index: 99999;
    overflow: hidden; }
    .row-debug\@desktop:before {
      pointer-events: none;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 99999px;
      background: linear-gradient(to right, transparent 50%, rgba(0, 0, 0, 0.02) 50%);
      background-size: 16.66667% 100%;
      z-index: 99999; }
  body {
    direction: ltr; } }

[class*="gr"] > [class*="row"],
[class*="gr"] > [class*="col"] {
  margin-left: -10px;
  margin-right: -10px; }

@media screen and (max-width: 767px) {
  [class*="gr"] > [class*="row"],
  [class*="gr"] > [class*="col"] {
    margin-left: -10px;
    margin-right: -10px; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  [class*="gr"] > [class*="row"],
  [class*="gr"] > [class*="col"] {
    margin-left: -10px;
    margin-right: -10px; } }

@media screen and (min-width: 1025px) {
  [class*="gr"] > [class*="row"],
  [class*="gr"] > [class*="col"] {
    margin-left: -10px;
    margin-right: -10px; } }

.container {
  max-width: 1200px;
  margin: 0 auto; }

/*!
 *  Font Awesome 4.6.1 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome/fontawesome-webfont.eot?v=4.6.1");
  src: url("../fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.6.1") format("embedded-opentype"), url("../fonts/fontawesome/fontawesome-webfont.woff2?v=4.6.1") format("woff2"), url("../fonts/fontawesome/fontawesome-webfont.woff?v=4.6.1") format("woff"), url("../fonts/fontawesome/fontawesome-webfont.ttf?v=4.6.1") format("truetype"), url("../fonts/fontawesome/fontawesome-webfont.svg?v=4.6.1#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.28571em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center; }
  .fa-li.fa-lg {
    left: -1.85714em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left {
  margin-right: .3em; }

.fa.fa-pull-right {
  margin-left: .3em; }

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }

.fa.pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  -webkit-filter: none;
          filter: none; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: ""; }

.fa-music:before {
  content: ""; }

.fa-search:before {
  content: ""; }

.fa-envelope-o:before {
  content: ""; }

.fa-heart:before {
  content: ""; }

.fa-star:before {
  content: ""; }

.fa-star-o:before {
  content: ""; }

.fa-user:before {
  content: ""; }

.fa-film:before {
  content: ""; }

.fa-th-large:before {
  content: ""; }

.fa-th:before {
  content: ""; }

.fa-th-list:before {
  content: ""; }

.fa-check:before {
  content: ""; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: ""; }

.fa-search-plus:before {
  content: ""; }

.fa-search-minus:before {
  content: ""; }

.fa-power-off:before {
  content: ""; }

.fa-signal:before {
  content: ""; }

.fa-gear:before,
.fa-cog:before {
  content: ""; }

.fa-trash-o:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-file-o:before {
  content: ""; }

.fa-clock-o:before {
  content: ""; }

.fa-road:before {
  content: ""; }

.fa-download:before {
  content: ""; }

.fa-arrow-circle-o-down:before {
  content: ""; }

.fa-arrow-circle-o-up:before {
  content: ""; }

.fa-inbox:before {
  content: ""; }

.fa-play-circle-o:before {
  content: ""; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: ""; }

.fa-refresh:before {
  content: ""; }

.fa-list-alt:before {
  content: ""; }

.fa-lock:before {
  content: ""; }

.fa-flag:before {
  content: ""; }

.fa-headphones:before {
  content: ""; }

.fa-volume-off:before {
  content: ""; }

.fa-volume-down:before {
  content: ""; }

.fa-volume-up:before {
  content: ""; }

.fa-qrcode:before {
  content: ""; }

.fa-barcode:before {
  content: ""; }

.fa-tag:before {
  content: ""; }

.fa-tags:before {
  content: ""; }

.fa-book:before {
  content: ""; }

.fa-bookmark:before {
  content: ""; }

.fa-print:before {
  content: ""; }

.fa-camera:before {
  content: ""; }

.fa-font:before {
  content: ""; }

.fa-bold:before {
  content: ""; }

.fa-italic:before {
  content: ""; }

.fa-text-height:before {
  content: ""; }

.fa-text-width:before {
  content: ""; }

.fa-align-left:before {
  content: ""; }

.fa-align-center:before {
  content: ""; }

.fa-align-right:before {
  content: ""; }

.fa-align-justify:before {
  content: ""; }

.fa-list:before {
  content: ""; }

.fa-dedent:before,
.fa-outdent:before {
  content: ""; }

.fa-indent:before {
  content: ""; }

.fa-video-camera:before {
  content: ""; }

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: ""; }

.fa-pencil:before {
  content: ""; }

.fa-map-marker:before {
  content: ""; }

.fa-adjust:before {
  content: ""; }

.fa-tint:before {
  content: ""; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: ""; }

.fa-share-square-o:before {
  content: ""; }

.fa-check-square-o:before {
  content: ""; }

.fa-arrows:before {
  content: ""; }

.fa-step-backward:before {
  content: ""; }

.fa-fast-backward:before {
  content: ""; }

.fa-backward:before {
  content: ""; }

.fa-play:before {
  content: ""; }

.fa-pause:before {
  content: ""; }

.fa-stop:before {
  content: ""; }

.fa-forward:before {
  content: ""; }

.fa-fast-forward:before {
  content: ""; }

.fa-step-forward:before {
  content: ""; }

.fa-eject:before {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-chevron-right:before {
  content: ""; }

.fa-plus-circle:before {
  content: ""; }

.fa-minus-circle:before {
  content: ""; }

.fa-times-circle:before {
  content: ""; }

.fa-check-circle:before {
  content: ""; }

.fa-question-circle:before {
  content: ""; }

.fa-info-circle:before {
  content: ""; }

.fa-crosshairs:before {
  content: ""; }

.fa-times-circle-o:before {
  content: ""; }

.fa-check-circle-o:before {
  content: ""; }

.fa-ban:before {
  content: ""; }

.fa-arrow-left:before {
  content: ""; }

.fa-arrow-right:before {
  content: ""; }

.fa-arrow-up:before {
  content: ""; }

.fa-arrow-down:before {
  content: ""; }

.fa-mail-forward:before,
.fa-share:before {
  content: ""; }

.fa-expand:before {
  content: ""; }

.fa-compress:before {
  content: ""; }

.fa-plus:before {
  content: ""; }

.fa-minus:before {
  content: ""; }

.fa-asterisk:before {
  content: ""; }

.fa-exclamation-circle:before {
  content: ""; }

.fa-gift:before {
  content: ""; }

.fa-leaf:before {
  content: ""; }

.fa-fire:before {
  content: ""; }

.fa-eye:before {
  content: ""; }

.fa-eye-slash:before {
  content: ""; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: ""; }

.fa-plane:before {
  content: ""; }

.fa-calendar:before {
  content: ""; }

.fa-random:before {
  content: ""; }

.fa-comment:before {
  content: ""; }

.fa-magnet:before {
  content: ""; }

.fa-chevron-up:before {
  content: ""; }

.fa-chevron-down:before {
  content: ""; }

.fa-retweet:before {
  content: ""; }

.fa-shopping-cart:before {
  content: ""; }

.fa-folder:before {
  content: ""; }

.fa-folder-open:before {
  content: ""; }

.fa-arrows-v:before {
  content: ""; }

.fa-arrows-h:before {
  content: ""; }

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: ""; }

.fa-twitter-square:before {
  content: ""; }

.fa-facebook-square:before {
  content: ""; }

.fa-camera-retro:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-gears:before,
.fa-cogs:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.fa-thumbs-o-up:before {
  content: ""; }

.fa-thumbs-o-down:before {
  content: ""; }

.fa-star-half:before {
  content: ""; }

.fa-heart-o:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-linkedin-square:before {
  content: ""; }

.fa-thumb-tack:before {
  content: ""; }

.fa-external-link:before {
  content: ""; }

.fa-sign-in:before {
  content: ""; }

.fa-trophy:before {
  content: ""; }

.fa-github-square:before {
  content: ""; }

.fa-upload:before {
  content: ""; }

.fa-lemon-o:before {
  content: ""; }

.fa-phone:before {
  content: ""; }

.fa-square-o:before {
  content: ""; }

.fa-bookmark-o:before {
  content: ""; }

.fa-phone-square:before {
  content: ""; }

.fa-twitter:before {
  content: ""; }

.fa-facebook-f:before,
.fa-facebook:before {
  content: ""; }

.fa-github:before {
  content: ""; }

.fa-unlock:before {
  content: ""; }

.fa-credit-card:before {
  content: ""; }

.fa-feed:before,
.fa-rss:before {
  content: ""; }

.fa-hdd-o:before {
  content: ""; }

.fa-bullhorn:before {
  content: ""; }

.fa-bell:before {
  content: ""; }

.fa-certificate:before {
  content: ""; }

.fa-hand-o-right:before {
  content: ""; }

.fa-hand-o-left:before {
  content: ""; }

.fa-hand-o-up:before {
  content: ""; }

.fa-hand-o-down:before {
  content: ""; }

.fa-arrow-circle-left:before {
  content: ""; }

.fa-arrow-circle-right:before {
  content: ""; }

.fa-arrow-circle-up:before {
  content: ""; }

.fa-arrow-circle-down:before {
  content: ""; }

.fa-globe:before {
  content: ""; }

.fa-wrench:before {
  content: ""; }

.fa-tasks:before {
  content: ""; }

.fa-filter:before {
  content: ""; }

.fa-briefcase:before {
  content: ""; }

.fa-arrows-alt:before {
  content: ""; }

.fa-group:before,
.fa-users:before {
  content: ""; }

.fa-chain:before,
.fa-link:before {
  content: ""; }

.fa-cloud:before {
  content: ""; }

.fa-flask:before {
  content: ""; }

.fa-cut:before,
.fa-scissors:before {
  content: ""; }

.fa-copy:before,
.fa-files-o:before {
  content: ""; }

.fa-paperclip:before {
  content: ""; }

.fa-save:before,
.fa-floppy-o:before {
  content: ""; }

.fa-square:before {
  content: ""; }

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: ""; }

.fa-list-ul:before {
  content: ""; }

.fa-list-ol:before {
  content: ""; }

.fa-strikethrough:before {
  content: ""; }

.fa-underline:before {
  content: ""; }

.fa-table:before {
  content: ""; }

.fa-magic:before {
  content: ""; }

.fa-truck:before {
  content: ""; }

.fa-pinterest:before {
  content: ""; }

.fa-pinterest-square:before {
  content: ""; }

.fa-google-plus-square:before {
  content: ""; }

.fa-google-plus:before {
  content: ""; }

.fa-money:before {
  content: ""; }

.fa-caret-down:before {
  content: ""; }

.fa-caret-up:before {
  content: ""; }

.fa-caret-left:before {
  content: ""; }

.fa-caret-right:before {
  content: ""; }

.fa-columns:before {
  content: ""; }

.fa-unsorted:before,
.fa-sort:before {
  content: ""; }

.fa-sort-down:before,
.fa-sort-desc:before {
  content: ""; }

.fa-sort-up:before,
.fa-sort-asc:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-linkedin:before {
  content: ""; }

.fa-rotate-left:before,
.fa-undo:before {
  content: ""; }

.fa-legal:before,
.fa-gavel:before {
  content: ""; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: ""; }

.fa-comment-o:before {
  content: ""; }

.fa-comments-o:before {
  content: ""; }

.fa-flash:before,
.fa-bolt:before {
  content: ""; }

.fa-sitemap:before {
  content: ""; }

.fa-umbrella:before {
  content: ""; }

.fa-paste:before,
.fa-clipboard:before {
  content: ""; }

.fa-lightbulb-o:before {
  content: ""; }

.fa-exchange:before {
  content: ""; }

.fa-cloud-download:before {
  content: ""; }

.fa-cloud-upload:before {
  content: ""; }

.fa-user-md:before {
  content: ""; }

.fa-stethoscope:before {
  content: ""; }

.fa-suitcase:before {
  content: ""; }

.fa-bell-o:before {
  content: ""; }

.fa-coffee:before {
  content: ""; }

.fa-cutlery:before {
  content: ""; }

.fa-file-text-o:before {
  content: ""; }

.fa-building-o:before {
  content: ""; }

.fa-hospital-o:before {
  content: ""; }

.fa-ambulance:before {
  content: ""; }

.fa-medkit:before {
  content: ""; }

.fa-fighter-jet:before {
  content: ""; }

.fa-beer:before {
  content: ""; }

.fa-h-square:before {
  content: ""; }

.fa-plus-square:before {
  content: ""; }

.fa-angle-double-left:before {
  content: ""; }

.fa-angle-double-right:before {
  content: ""; }

.fa-angle-double-up:before {
  content: ""; }

.fa-angle-double-down:before {
  content: ""; }

.fa-angle-left:before {
  content: ""; }

.fa-angle-right:before {
  content: ""; }

.fa-angle-up:before {
  content: ""; }

.fa-angle-down:before {
  content: ""; }

.fa-desktop:before {
  content: ""; }

.fa-laptop:before {
  content: ""; }

.fa-tablet:before {
  content: ""; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: ""; }

.fa-circle-o:before {
  content: ""; }

.fa-quote-left:before {
  content: ""; }

.fa-quote-right:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-mail-reply:before,
.fa-reply:before {
  content: ""; }

.fa-github-alt:before {
  content: ""; }

.fa-folder-o:before {
  content: ""; }

.fa-folder-open-o:before {
  content: ""; }

.fa-smile-o:before {
  content: ""; }

.fa-frown-o:before {
  content: ""; }

.fa-meh-o:before {
  content: ""; }

.fa-gamepad:before {
  content: ""; }

.fa-keyboard-o:before {
  content: ""; }

.fa-flag-o:before {
  content: ""; }

.fa-flag-checkered:before {
  content: ""; }

.fa-terminal:before {
  content: ""; }

.fa-code:before {
  content: ""; }

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: ""; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: ""; }

.fa-location-arrow:before {
  content: ""; }

.fa-crop:before {
  content: ""; }

.fa-code-fork:before {
  content: ""; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: ""; }

.fa-question:before {
  content: ""; }

.fa-info:before {
  content: ""; }

.fa-exclamation:before {
  content: ""; }

.fa-superscript:before {
  content: ""; }

.fa-subscript:before {
  content: ""; }

.fa-eraser:before {
  content: ""; }

.fa-puzzle-piece:before {
  content: ""; }

.fa-microphone:before {
  content: ""; }

.fa-microphone-slash:before {
  content: ""; }

.fa-shield:before {
  content: ""; }

.fa-calendar-o:before {
  content: ""; }

.fa-fire-extinguisher:before {
  content: ""; }

.fa-rocket:before {
  content: ""; }

.fa-maxcdn:before {
  content: ""; }

.fa-chevron-circle-left:before {
  content: ""; }

.fa-chevron-circle-right:before {
  content: ""; }

.fa-chevron-circle-up:before {
  content: ""; }

.fa-chevron-circle-down:before {
  content: ""; }

.fa-html5:before {
  content: ""; }

.fa-css3:before {
  content: ""; }

.fa-anchor:before {
  content: ""; }

.fa-unlock-alt:before {
  content: ""; }

.fa-bullseye:before {
  content: ""; }

.fa-ellipsis-h:before {
  content: ""; }

.fa-ellipsis-v:before {
  content: ""; }

.fa-rss-square:before {
  content: ""; }

.fa-play-circle:before {
  content: ""; }

.fa-ticket:before {
  content: ""; }

.fa-minus-square:before {
  content: ""; }

.fa-minus-square-o:before {
  content: ""; }

.fa-level-up:before {
  content: ""; }

.fa-level-down:before {
  content: ""; }

.fa-check-square:before {
  content: ""; }

.fa-pencil-square:before {
  content: ""; }

.fa-external-link-square:before {
  content: ""; }

.fa-share-square:before {
  content: ""; }

.fa-compass:before {
  content: ""; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: ""; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: ""; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: ""; }

.fa-euro:before,
.fa-eur:before {
  content: ""; }

.fa-gbp:before {
  content: ""; }

.fa-dollar:before,
.fa-usd:before {
  content: ""; }

.fa-rupee:before,
.fa-inr:before {
  content: ""; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: ""; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: ""; }

.fa-won:before,
.fa-krw:before {
  content: ""; }

.fa-bitcoin:before,
.fa-btc:before {
  content: ""; }

.fa-file:before {
  content: ""; }

.fa-file-text:before {
  content: ""; }

.fa-sort-alpha-asc:before {
  content: ""; }

.fa-sort-alpha-desc:before {
  content: ""; }

.fa-sort-amount-asc:before {
  content: ""; }

.fa-sort-amount-desc:before {
  content: ""; }

.fa-sort-numeric-asc:before {
  content: ""; }

.fa-sort-numeric-desc:before {
  content: ""; }

.fa-thumbs-up:before {
  content: ""; }

.fa-thumbs-down:before {
  content: ""; }

.fa-youtube-square:before {
  content: ""; }

.fa-youtube:before {
  content: ""; }

.fa-xing:before {
  content: ""; }

.fa-xing-square:before {
  content: ""; }

.fa-youtube-play:before {
  content: ""; }

.fa-dropbox:before {
  content: ""; }

.fa-stack-overflow:before {
  content: ""; }

.fa-instagram:before {
  content: ""; }

.fa-flickr:before {
  content: ""; }

.fa-adn:before {
  content: ""; }

.fa-bitbucket:before {
  content: ""; }

.fa-bitbucket-square:before {
  content: ""; }

.fa-tumblr:before {
  content: ""; }

.fa-tumblr-square:before {
  content: ""; }

.fa-long-arrow-down:before {
  content: ""; }

.fa-long-arrow-up:before {
  content: ""; }

.fa-long-arrow-left:before {
  content: ""; }

.fa-long-arrow-right:before {
  content: ""; }

.fa-apple:before {
  content: ""; }

.fa-windows:before {
  content: ""; }

.fa-android:before {
  content: ""; }

.fa-linux:before {
  content: ""; }

.fa-dribbble:before {
  content: ""; }

.fa-skype:before {
  content: ""; }

.fa-foursquare:before {
  content: ""; }

.fa-trello:before {
  content: ""; }

.fa-female:before {
  content: ""; }

.fa-male:before {
  content: ""; }

.fa-gittip:before,
.fa-gratipay:before {
  content: ""; }

.fa-sun-o:before {
  content: ""; }

.fa-moon-o:before {
  content: ""; }

.fa-archive:before {
  content: ""; }

.fa-bug:before {
  content: ""; }

.fa-vk:before {
  content: ""; }

.fa-weibo:before {
  content: ""; }

.fa-renren:before {
  content: ""; }

.fa-pagelines:before {
  content: ""; }

.fa-stack-exchange:before {
  content: ""; }

.fa-arrow-circle-o-right:before {
  content: ""; }

.fa-arrow-circle-o-left:before {
  content: ""; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: ""; }

.fa-dot-circle-o:before {
  content: ""; }

.fa-wheelchair:before {
  content: ""; }

.fa-vimeo-square:before {
  content: ""; }

.fa-turkish-lira:before,
.fa-try:before {
  content: ""; }

.fa-plus-square-o:before {
  content: ""; }

.fa-space-shuttle:before {
  content: ""; }

.fa-slack:before {
  content: ""; }

.fa-envelope-square:before {
  content: ""; }

.fa-wordpress:before {
  content: ""; }

.fa-openid:before {
  content: ""; }

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: ""; }

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: ""; }

.fa-yahoo:before {
  content: ""; }

.fa-google:before {
  content: ""; }

.fa-reddit:before {
  content: ""; }

.fa-reddit-square:before {
  content: ""; }

.fa-stumbleupon-circle:before {
  content: ""; }

.fa-stumbleupon:before {
  content: ""; }

.fa-delicious:before {
  content: ""; }

.fa-digg:before {
  content: ""; }

.fa-pied-piper:before {
  content: ""; }

.fa-pied-piper-alt:before {
  content: ""; }

.fa-drupal:before {
  content: ""; }

.fa-joomla:before {
  content: ""; }

.fa-language:before {
  content: ""; }

.fa-fax:before {
  content: ""; }

.fa-building:before {
  content: ""; }

.fa-child:before {
  content: ""; }

.fa-paw:before {
  content: ""; }

.fa-spoon:before {
  content: ""; }

.fa-cube:before {
  content: ""; }

.fa-cubes:before {
  content: ""; }

.fa-behance:before {
  content: ""; }

.fa-behance-square:before {
  content: ""; }

.fa-steam:before {
  content: ""; }

.fa-steam-square:before {
  content: ""; }

.fa-recycle:before {
  content: ""; }

.fa-automobile:before,
.fa-car:before {
  content: ""; }

.fa-cab:before,
.fa-taxi:before {
  content: ""; }

.fa-tree:before {
  content: ""; }

.fa-spotify:before {
  content: ""; }

.fa-deviantart:before {
  content: ""; }

.fa-soundcloud:before {
  content: ""; }

.fa-database:before {
  content: ""; }

.fa-file-pdf-o:before {
  content: ""; }

.fa-file-word-o:before {
  content: ""; }

.fa-file-excel-o:before {
  content: ""; }

.fa-file-powerpoint-o:before {
  content: ""; }

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: ""; }

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: ""; }

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: ""; }

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: ""; }

.fa-file-code-o:before {
  content: ""; }

.fa-vine:before {
  content: ""; }

.fa-codepen:before {
  content: ""; }

.fa-jsfiddle:before {
  content: ""; }

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: ""; }

.fa-circle-o-notch:before {
  content: ""; }

.fa-ra:before,
.fa-rebel:before {
  content: ""; }

.fa-ge:before,
.fa-empire:before {
  content: ""; }

.fa-git-square:before {
  content: ""; }

.fa-git:before {
  content: ""; }

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: ""; }

.fa-tencent-weibo:before {
  content: ""; }

.fa-qq:before {
  content: ""; }

.fa-wechat:before,
.fa-weixin:before {
  content: ""; }

.fa-send:before,
.fa-paper-plane:before {
  content: ""; }

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: ""; }

.fa-history:before {
  content: ""; }

.fa-circle-thin:before {
  content: ""; }

.fa-header:before {
  content: ""; }

.fa-paragraph:before {
  content: ""; }

.fa-sliders:before {
  content: ""; }

.fa-share-alt:before {
  content: ""; }

.fa-share-alt-square:before {
  content: ""; }

.fa-bomb:before {
  content: ""; }

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: ""; }

.fa-tty:before {
  content: ""; }

.fa-binoculars:before {
  content: ""; }

.fa-plug:before {
  content: ""; }

.fa-slideshare:before {
  content: ""; }

.fa-twitch:before {
  content: ""; }

.fa-yelp:before {
  content: ""; }

.fa-newspaper-o:before {
  content: ""; }

.fa-wifi:before {
  content: ""; }

.fa-calculator:before {
  content: ""; }

.fa-paypal:before {
  content: ""; }

.fa-google-wallet:before {
  content: ""; }

.fa-cc-visa:before {
  content: ""; }

.fa-cc-mastercard:before {
  content: ""; }

.fa-cc-discover:before {
  content: ""; }

.fa-cc-amex:before {
  content: ""; }

.fa-cc-paypal:before {
  content: ""; }

.fa-cc-stripe:before {
  content: ""; }

.fa-bell-slash:before {
  content: ""; }

.fa-bell-slash-o:before {
  content: ""; }

.fa-trash:before {
  content: ""; }

.fa-copyright:before {
  content: ""; }

.fa-at:before {
  content: ""; }

.fa-eyedropper:before {
  content: ""; }

.fa-paint-brush:before {
  content: ""; }

.fa-birthday-cake:before {
  content: ""; }

.fa-area-chart:before {
  content: ""; }

.fa-pie-chart:before {
  content: ""; }

.fa-line-chart:before {
  content: ""; }

.fa-lastfm:before {
  content: ""; }

.fa-lastfm-square:before {
  content: ""; }

.fa-toggle-off:before {
  content: ""; }

.fa-toggle-on:before {
  content: ""; }

.fa-bicycle:before {
  content: ""; }

.fa-bus:before {
  content: ""; }

.fa-ioxhost:before {
  content: ""; }

.fa-angellist:before {
  content: ""; }

.fa-cc:before {
  content: ""; }

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: ""; }

.fa-meanpath:before {
  content: ""; }

.fa-buysellads:before {
  content: ""; }

.fa-connectdevelop:before {
  content: ""; }

.fa-dashcube:before {
  content: ""; }

.fa-forumbee:before {
  content: ""; }

.fa-leanpub:before {
  content: ""; }

.fa-sellsy:before {
  content: ""; }

.fa-shirtsinbulk:before {
  content: ""; }

.fa-simplybuilt:before {
  content: ""; }

.fa-skyatlas:before {
  content: ""; }

.fa-cart-plus:before {
  content: ""; }

.fa-cart-arrow-down:before {
  content: ""; }

.fa-diamond:before {
  content: ""; }

.fa-ship:before {
  content: ""; }

.fa-user-secret:before {
  content: ""; }

.fa-motorcycle:before {
  content: ""; }

.fa-street-view:before {
  content: ""; }

.fa-heartbeat:before {
  content: ""; }

.fa-venus:before {
  content: ""; }

.fa-mars:before {
  content: ""; }

.fa-mercury:before {
  content: ""; }

.fa-intersex:before,
.fa-transgender:before {
  content: ""; }

.fa-transgender-alt:before {
  content: ""; }

.fa-venus-double:before {
  content: ""; }

.fa-mars-double:before {
  content: ""; }

.fa-venus-mars:before {
  content: ""; }

.fa-mars-stroke:before {
  content: ""; }

.fa-mars-stroke-v:before {
  content: ""; }

.fa-mars-stroke-h:before {
  content: ""; }

.fa-neuter:before {
  content: ""; }

.fa-genderless:before {
  content: ""; }

.fa-facebook-official:before {
  content: ""; }

.fa-pinterest-p:before {
  content: ""; }

.fa-whatsapp:before {
  content: ""; }

.fa-server:before {
  content: ""; }

.fa-user-plus:before {
  content: ""; }

.fa-user-times:before {
  content: ""; }

.fa-hotel:before,
.fa-bed:before {
  content: ""; }

.fa-viacoin:before {
  content: ""; }

.fa-train:before {
  content: ""; }

.fa-subway:before {
  content: ""; }

.fa-medium:before {
  content: ""; }

.fa-yc:before,
.fa-y-combinator:before {
  content: ""; }

.fa-optin-monster:before {
  content: ""; }

.fa-opencart:before {
  content: ""; }

.fa-expeditedssl:before {
  content: ""; }

.fa-battery-4:before,
.fa-battery-full:before {
  content: ""; }

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: ""; }

.fa-battery-2:before,
.fa-battery-half:before {
  content: ""; }

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: ""; }

.fa-battery-0:before,
.fa-battery-empty:before {
  content: ""; }

.fa-mouse-pointer:before {
  content: ""; }

.fa-i-cursor:before {
  content: ""; }

.fa-object-group:before {
  content: ""; }

.fa-object-ungroup:before {
  content: ""; }

.fa-sticky-note:before {
  content: ""; }

.fa-sticky-note-o:before {
  content: ""; }

.fa-cc-jcb:before {
  content: ""; }

.fa-cc-diners-club:before {
  content: ""; }

.fa-clone:before {
  content: ""; }

.fa-balance-scale:before {
  content: ""; }

.fa-hourglass-o:before {
  content: ""; }

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: ""; }

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: ""; }

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: ""; }

.fa-hourglass:before {
  content: ""; }

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: ""; }

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: ""; }

.fa-hand-scissors-o:before {
  content: ""; }

.fa-hand-lizard-o:before {
  content: ""; }

.fa-hand-spock-o:before {
  content: ""; }

.fa-hand-pointer-o:before {
  content: ""; }

.fa-hand-peace-o:before {
  content: ""; }

.fa-trademark:before {
  content: ""; }

.fa-registered:before {
  content: ""; }

.fa-creative-commons:before {
  content: ""; }

.fa-gg:before {
  content: ""; }

.fa-gg-circle:before {
  content: ""; }

.fa-tripadvisor:before {
  content: ""; }

.fa-odnoklassniki:before {
  content: ""; }

.fa-odnoklassniki-square:before {
  content: ""; }

.fa-get-pocket:before {
  content: ""; }

.fa-wikipedia-w:before {
  content: ""; }

.fa-safari:before {
  content: ""; }

.fa-chrome:before {
  content: ""; }

.fa-firefox:before {
  content: ""; }

.fa-opera:before {
  content: ""; }

.fa-internet-explorer:before {
  content: ""; }

.fa-tv:before,
.fa-television:before {
  content: ""; }

.fa-contao:before {
  content: ""; }

.fa-500px:before {
  content: ""; }

.fa-amazon:before {
  content: ""; }

.fa-calendar-plus-o:before {
  content: ""; }

.fa-calendar-minus-o:before {
  content: ""; }

.fa-calendar-times-o:before {
  content: ""; }

.fa-calendar-check-o:before {
  content: ""; }

.fa-industry:before {
  content: ""; }

.fa-map-pin:before {
  content: ""; }

.fa-map-signs:before {
  content: ""; }

.fa-map-o:before {
  content: ""; }

.fa-map:before {
  content: ""; }

.fa-commenting:before {
  content: ""; }

.fa-commenting-o:before {
  content: ""; }

.fa-houzz:before {
  content: ""; }

.fa-vimeo:before {
  content: ""; }

.fa-black-tie:before {
  content: ""; }

.fa-fonticons:before {
  content: ""; }

.fa-reddit-alien:before {
  content: ""; }

.fa-edge:before {
  content: ""; }

.fa-credit-card-alt:before {
  content: ""; }

.fa-codiepie:before {
  content: ""; }

.fa-modx:before {
  content: ""; }

.fa-fort-awesome:before {
  content: ""; }

.fa-usb:before {
  content: ""; }

.fa-product-hunt:before {
  content: ""; }

.fa-mixcloud:before {
  content: ""; }

.fa-scribd:before {
  content: ""; }

.fa-pause-circle:before {
  content: ""; }

.fa-pause-circle-o:before {
  content: ""; }

.fa-stop-circle:before {
  content: ""; }

.fa-stop-circle-o:before {
  content: ""; }

.fa-shopping-bag:before {
  content: ""; }

.fa-shopping-basket:before {
  content: ""; }

.fa-hashtag:before {
  content: ""; }

.fa-bluetooth:before {
  content: ""; }

.fa-bluetooth-b:before {
  content: ""; }

.fa-percent:before {
  content: ""; }

.fa-gitlab:before {
  content: ""; }

.fa-wpbeginner:before {
  content: ""; }

.fa-wpforms:before {
  content: ""; }

.fa-envira:before {
  content: ""; }

.fa-universal-access:before {
  content: ""; }

.fa-wheelchair-alt:before {
  content: ""; }

.fa-question-circle-o:before {
  content: ""; }

.fa-blind:before {
  content: ""; }

.fa-audio-description:before {
  content: ""; }

.fa-volume-control-phone:before {
  content: ""; }

.fa-braille:before {
  content: ""; }

.fa-assistive-listening-systems:before {
  content: ""; }

.fa-asl-interpreting:before,
.fa-american-sign-language-interpreting:before {
  content: ""; }

.fa-deafness:before,
.fa-hard-of-hearing:before,
.fa-deaf:before {
  content: ""; }

.fa-glide:before {
  content: ""; }

.fa-glide-g:before {
  content: ""; }

.fa-signing:before,
.fa-sign-language:before {
  content: ""; }

.fa-low-vision:before {
  content: ""; }

.fa-viadeo:before {
  content: ""; }

.fa-viadeo-square:before {
  content: ""; }

.fa-snapchat:before {
  content: ""; }

.fa-snapchat-ghost:before {
  content: ""; }

.fa-snapchat-square:before {
  content: ""; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Lato', sans-serif; }

.front-page {
  width: 100%;
  height: 100%;
  background: #f6c141 url("../images/crowd.svg") no-repeat;
  background-position: center bottom;
  background-size: cover; }
  .front-page #logo {
    width: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 20; }
    .front-page #logo img {
      position: relative;
      margin-top: 150px;
      left: 50%;
      margin-left: -213.5px; }
    .front-page #logo #small-logo {
      display: none; }
    @media screen and (max-width: 767px) {
      .front-page #logo #small-logo {
        display: block; }
      .front-page #logo #main-logo {
        display: none; } }
  .front-page #banner {
    position: absolute;
    z-index: 100; }
    .front-page #banner img {
      position: absolute;
      vertical-align: bottom; }

footer {
  height: 900px;
  margin-top: -400px;
  z-index: -1;
  background: #f6c141 url("../images/crowd.jpg") no-repeat bottom center;
  background-size: cover; }

.yellow-backdrop {
  background-color: #f6c141; }

.drop-shadow {
  box-shadow: 0px 0px 20px #333333; }

.front-page #navigation {
  position: absolute;
  width: 100%;
  margin: 0;
  margin-top: 350px;
  background-color: #283891;
  z-index: 19; }
  .front-page #navigation ul {
    position: relative;
    width: 286px;
    left: 50%;
    padding: 0;
    margin: 0 0 0 -143px;
    height: 64px;
    overflow: hidden; }
    .front-page #navigation ul li {
      float: left;
      color: white;
      list-style: none;
      font-weight: 100;
      font-size: 20px;
      padding: 20px 20px; }
      .front-page #navigation ul li:hover {
        padding-bottom: 10px;
        cursor: pointer;
        border-bottom: 10px solid white;
        transition: all 0.1s ease-in-out 0.1s;
        color: rgba(255, 255, 255, 0.2); }
      .front-page #navigation ul li.active {
        padding-bottom: 10px;
        cursor: pointer;
        border-bottom: 10px solid white;
        transition: all 0.1s ease-in-out 0.1s;
        color: rgba(255, 255, 255, 0.2); }

h1 {
  color: #f6c141;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 40px;
  width: 100%;
  border-top: 1px solid #f6c141;
  border-bottom: 1px solid #f6c141;
  padding: 10px 0px;
  margin-bottom: 100px; }
  @media screen and (max-width: 767px) {
    h1 {
      font-size: 30px; } }

h2 {
  font-family: 'Yesteryear', cursive;
  color: #283891; }

h3 {
  font-family: 'Lato', sans-serif;
  color: #283891;
  font-weight: 400; }

h1, h2, h3 {
  text-align: center; }

.page-section {
  margin-top: 100px; }
  @media screen and (max-width: 767px) {
    .page-section {
      margin-top: 100px; } }

.anchors {
  width: 100%; }

@media screen and (max-width: 767px) {
  #about-text h3 {
    font-size: 16px; } }

#about-text #about-content p {
  -webkit-columns: 230px 2;
     -moz-columns: 230px 2;
          columns: 230px 2;
  padding: 0;
  margin: 0; }
  @media screen and (max-width: 767px) {
    #about-text #about-content p {
      margin: 0 10px; } }

#about-text #download {
  margin-top: 50px; }
  #about-text #download a {
    position: relative;
    background-color: #283891;
    padding: 15px 40px;
    color: white;
    border-radius: 10px;
    margin: 2px;
    text-align: center;
    text-decoration: none;
    font-weight: 100; }
    #about-text #download a:hover {
      cursor: pointer;
      background-color: #f6c141; }

#upcoming-text h3 {
  font-size: 20px; }
  #upcoming-text h3 .dates {
    font-family: 'Yesteryear', cursive; }
  #upcoming-text h3 .event {
    font-weight: 700;
    color: #f6c141; }

#contact-text h3 {
  text-align: left; }
  @media screen and (max-width: 767px) {
    #contact-text h3 {
      padding: 0 0 0 40px; } }

#contact-text iframe {
  box-shadow: 0px 0px 15px #e6e6e6;
  width: 100%;
  height: 400px; }

.bolded {
  font-weight: 700; }

.row {
  padding: 0;
  margin: 0; }
