@import "../../../node_modules/normalize.scss/normalize.scss";
@import "../../../node_modules/gridle/sass/gridle/gridle";
@import "../../../node_modules/porridge/sass/porridge";

@include porridge-setup((
    colors: (
        brand: (
            primary: rgb(246,193,65),
            secondary: rgb(40,56,145),
        )
    )
));

$fa-font-path: "../fonts/fontawesome";
@import "../../../node_modules/font-awesome/scss/font-awesome";
@import "partials/components";
