.page-section {
    margin-top: 100px;
    @include gridle-state(mobile) {
        margin-top: 100px;
    }
}

.anchors {
    width: 100%;
}

#about-text {

    h3 {
        @include gridle-state(mobile) {
            font-size: 16px;
        }
    }

    #about-content {
        p {
            columns: 230px 2;
            padding: 0;
            margin: 0;
            @include gridle-state(mobile) {
                margin: 0 10px;
            }
        }
    }
    #download{
        margin-top: 50px;
        a {
            position: relative;
            background-color: brandColor(secondary);
            padding: 15px 40px;
            color: light();
            border-radius: 10px;
            margin: 2px;
            text-align: center;
            text-decoration: none;
            font-weight: 100;
            &:hover {
                cursor: pointer;
                background-color: brandColor(primary);
            }
        }
    }
}

#upcoming-text {
    h3 {
        font-size: 20px;
        .dates {
            font-family: 'Yesteryear', cursive;
        }
        .event {
            font-weight: 700;
            color: brandColor(primary);
        }
    }
}

#contact-text {
    h3 {
        text-align: left;
        @include gridle-state(mobile) {
            padding: 0 0 0 40px;
        }
    }
    iframe {
        box-shadow: 0px 0px 15px grey(10);
        width: 100%;
        height: 400px;
    }
}

.bolded {
    font-weight: 700;
}

.row {
    padding: 0;
    margin: 0;
}
