html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.front-page {
    width: 100%;
    height: 100%;
    background: brandColor(primary) url('../images/crowd.svg') no-repeat;
    background-position: center bottom;
    background-size: cover;


    #logo {
        width: 100%;
        position: absolute;
        overflow: hidden;
        z-index: 20;
        img {
            position: relative;
            margin-top: 150px;
            left: 50%;
            margin-left: -213.5px;
        }
        #small-logo {
            display: none;
        }
        @include gridle-state(mobile) {
            #small-logo {
                display: block;
            }
            #main-logo {
                display: none;
            }
        }
    }

    #banner {
        position: absolute;
        z-index: 100;
        img {
            position: absolute;
            vertical-align: bottom;
        }
    }
}


footer {
    height: 900px;
    margin-top: -400px;
    z-index: -1;
    background: brandColor(primary) url('../images/crowd.jpg') no-repeat bottom center;
    background-size: cover;
}

.yellow-backdrop {
    background-color: brandColor(primary);
}

.drop-shadow {
    box-shadow: 0px 0px 20px grey(80);
}
