.front-page {
    #navigation {
        position: absolute;
        width: 100%;
        margin: 0;
        margin-top: 350px;
        background-color: brandColor(secondary);
        z-index: 19;
        ul {
            position: relative;
            width: 286px;
            left: 50%;
            padding: 0;
            margin: 0 0 0 -143px;
            height: 64px;
            overflow: hidden;
            li {
                float: left;
                color: light();
                list-style: none;
                font-weight: 100;
                font-size: 20px;
                padding: 20px 20px;
                &:hover {
                    padding-bottom: 10px;
                    cursor: pointer;
                    border-bottom: 10px solid light();
                    transition: all 0.1s ease-in-out 0.1s;
                    color: transparentize(light(), 0.8);
                }
                &.active {
                    padding-bottom: 10px;
                    cursor: pointer;
                    border-bottom: 10px solid light();
                    transition: all 0.1s ease-in-out 0.1s;
                    color: transparentize(light(), 0.8);
                }
            }
        }
    }
}
