h1 {
    color: brandColor(primary);
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 40px;
    width: 100%;
    border-top: 1px solid brandColor(primary);
    border-bottom: 1px solid brandColor(primary);
    padding: 10px 0px;
    margin-bottom: 100px;
    @include gridle-state(mobile) {
        font-size: 30px;
    }
}

h2 {
    font-family: 'Yesteryear', cursive;
    color: brandColor(secondary);
}

h3 {
    font-family: 'Lato', sans-serif;
    color: brandColor(secondary);
    font-weight: 400;
}

h1, h2, h3 {
    text-align: center;;
}
